/* cookiepolicy.css */

/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  h1{
    margin-top: 200px;
    margin-bottom: 50px;
  }
  
  /* Set global font family */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    padding: 20px;
    text-align: center;
  }
  
  /* Main content styles */
  .main-content {
    color: #fff;
    padding: 20px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .main-content p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  /* Footer styles (adjust as needed) */
  footer {
    text-align: center;
    padding: 10px;
  }
  