.ourpartners {
    background-image: url('../../assets/images/library.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    font-family: "Droid Sans-Bold", Helvetica;
    padding: 20px; /* Add padding to create space for content */
    height: 200vh;
}

.overlay-content .titlep {
    position: absolute;
    margin-top: 50px;
    margin-left: 700px;
    font-size: 50px;
    transform: translate(-50%, -50%);
}

.overlay-content a {
    position: absolute;
    text-decoration: none;
    color: white;
    top: 94%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    
}

.overlay-content span {
    position: absolute;
    top: 95%;
    left: 48%;
    display: block;
    width: 60px;
    height: 4px;
    background-color: red;
}

.card-wrapper {
    position: absolute;
    top: 12%; /* Adjust this as needed to position the card wrapper */
    left: 15.5%;
    /* You can remove the 'bottom' property */
}
@media (max-width: 768px) {

    .ourpartners{
        height: 120vh;
    }
    .overlay-content h1 {
        font-size: 20px; /* Reduce heading font size */
    }
    .overlay-content a {
        font-size: 15px; /* Reduce link font size */
    }
    .overlay-content span {
        width: 35px;
        left: 46%;
    }
    .card-wrapper > div {
        min-width: calc(50% - 20px); /* On smaller screens, display 2 cards per row */
    }
}