################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/.vs/Server/FileContentIndex/cd72cf4c-073c-454f-807a-a94b2e871156.vsidx
/Server/.vs/Server/FileContentIndex/1f2c4b5f-273b-4df3-bb62-95ecbf04c4cf.vsidx
/Server/.vs/Server/FileContentIndex/187c4651-01f9-4561-b8cf-8cc359d8528e.vsidx
