.book-dashboard-container {
  background-color: black;
  color: white;
  padding: 20px;
}

/* Header styles */
.dashboard-header {
  color: white;
}

/* Table styles */
.book-table {
  width: 80%;
  border-collapse: collapse;
  margin-left: 300px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.book-table th, .book-table td {
  border: 1px solid grey;
  padding: 10px;
  text-align: left;
}
.title-del{
  text-align: center;
  font-weight: bold;
}
/* Styling for the dropdown menu */
.book-dropdown {
  background-color: grey;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
  outline: none;
}

/* Styling for the links in the Actions column */
.edit-link, .delete-link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

/* Styling for the image */
.book-image {
  border-radius: 2px;
  width: 60px;
  height: 80px;
}
.add-book-button{
  margin-left: 1300px;
  background-color: darkred;
  padding: 12px;
  margin-bottom: 55px;
}
.link1{
  color: white;
}
.edit-link{
  color: rgb(79, 122, 209);
}
.delete-link{
  color: rgb(245, 121, 121);
}
.error-icon{
  color: darkred;
  margin-left: 150px;
}
