.book-dashboard-container {
  max-width: 95%;
  overflow-x: auto;
}

.book-table-container {
  max-height: 400px; /* Adjust the height based on your design */
  overflow-y: auto;
  margin-bottom: 50px;
}

.book-table {
  margin-left: 300px;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 35px;
  white-space: nowrap;
}
.dashboard-header {
  color: white;
}

.book-table th, .book-table td {
  border: 1px solid grey;
  padding: 10px;
  text-align: left;
  color: white;
}

.edit-link, .delete-link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.book-image {
  border-radius: 2px;
  width: 60px;
  height: 80px;
}
.add-book-button{
  margin-left: 1250px;
  background-color: darkred;
  padding: 12px;
  margin-bottom: 55px;
}

.edit-link{
  color: rgb(79, 122, 209);
}
.delete-link{
  color: rgb(245, 121, 121);
}
.error-icon{
  color: darkred;
  margin-left: 150px;
}

