.login{
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: "Droid Sans-Bold", Helvetica;
}

.loginwrapper {
    display:  flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.loginwrapper h1{
    letter-spacing: 4px;
    font-size: 50px;
    margin-bottom: 100px;
}

.inputs{
    display:  flex;
    flex-direction: column;
    align-items: center;
}

.inputs input{
    margin-top: 10px;
    padding: 10px 50px;
    background-color: gray;
    color: white;
}

.error{
    font-size: 13px;
    margin-top: 7px;
    color: red;
    margin-left:-230px ;
}

.acccheck{
    font-size: 13px;
    margin-top: 7px;
    color: white;
    text-align: center; 
}

.acccheck span a{
    color: red;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
} 

/* .acccheck span a:hover{
    transform: translateY(-3px);
}

/* .acccheck span a{
    display: inline-block;
    position: relative;
  }
.acccheck span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust this value to control the movement 
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease;
}
  
  .acccheck span:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  } */

.inputs input::placeholder{
    color: rgb(227, 224, 224);
    text-align: center;
}

.inputs button{
    background-color: white;
    color:  rgb(243, 84, 84);
    margin-top: 20px;
    padding: 10px 70px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.inputs button:hover{
    background-color: rgb(252, 78, 78);
    color: white;
}