/* Add styles for the home component */
.home {
    background-color: black;
    /* Add more styles as needed */
  }
  
  /* Add styles for other components */
  .components {
    display: flex;
    flex-direction: column;
  }

  .components h1 {
    margin-left: 350px;
    margin-top: 150px;
  }
  
  .container {
    display: flex;
    position: fixed;
    margin-top:54px;
  }
  
  main {
    width: 100%;
    padding: 20px;
  }
  
  .sidebar {
    background: #D9D9D9;
    color: #fff;
    height: 100vh;
    width: 500px;
    overflow: hidden;
    transition: width 0.5s ease;
  }
  
  .sidebar.open {
    width: 300px;
  }
  
  .links {
    margin-top: 100px;
  }
  
  .link {
    display: flex;
    justify-content: left;
    padding: 15px;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
  
  .link .icon {
    margin-left: 5px;
    font-size: 20px;
  }
  
  .link .link-text {
    margin-left: 10px;
  }
  
  .link:hover {
    background-color: white;
    color: grey;
    transition: all 0.5s;
  }
  
  .toggle-button {
    padding: 10px;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    text-align: center;
  }

  .systemheader{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    margin-top: 0px;
  }
  
  .search{
    margin-top: 5px;
    margin-left:290px;
    width: 600px;
    z-index: 300;
  }
  
  #useracc{
    height: auto;
    width: 20px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 362px;
    margin-right: 20px;
  }
  
  .user-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: 15%;
    }
  
    .link .link-text {
      display: none;
    }
  
    .link .icon {
      margin-left: auto;
    }
  
    .toggle-button {
      display: block;
    }
  }
  
  
  @media (max-width: 600px) {
    .logo {
      margin-left: 50px;
    }
  
    .search {
      width: 180px;
      margin-left: -50px;
      margin-right: -20px;
      margin-top: 13px;
    }
  
    .useracc {
      margin-top: 13px;
      margin-left: 50px;
      margin-right: 20px;
      height: 35px;
      width: 35px;
    }
  
    .user-icon {
      margin-left: 50px;
    }
  }
  