.page-container {
    .page-container {
        background-color: black; /* Set background color to black */
        color: white;
        padding: 20px;
        width: 100%; /* Ensure full width */
        min-height: 100vh; /* Set minimum height to cover the entire viewport */
        box-sizing: border-box; /* Include padding in the width calculation */
    }
    
}

.register {
    overflow: auto;
    font-family: 'Lora', serif;
    z-index: 0;
}

.registercontent .form {
    margin: 0;
}

/* Adjusted placeholder color */
.MuiInput-input::placeholder,
.input input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Adjusted alpha value */
}

/* Adjusted hover color */
.input input:hover,
.MuiInput-input:hover {
    color: #fff; /* Use #fff for white color */
}

.input input::placeholder {
    color: white;
}

.input {
    max-width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centered horizontally */
}

.registercontent .form .form-container {
    margin: 50px 20px; /* Adjusted margin values for smaller screens */
}

.registercontent .form .form-container .login-text {
    margin-bottom: 20px; /* Adjusted margin */
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: rgb(245, 121, 121);
    font-size: 100px; /* Adjusted font size */
    
}

.registercontent .form .form-container .submit-button {
    width: 100%; /* Full width for better responsiveness */
    margin-top: 10px;
}

.registercontent .form .form-container p {
    font-size: 14px; /* Adjusted font size */
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
}

.registercontent .form .form-container p a {
    text-decoration: none;
    color: #D32F2F;
    font-family: 'Nunito', sans-serif;
}

.registercontent .form .form-container p a:hover {
    text-decoration: underline;
}

@media (min-width: 769px) {
    .registercontent .loginimg {
        max-width: 100%;
        margin: 100px auto;
    }

    .registercontent .form {
        margin-left: auto;
        margin-right: auto;
    }

    .form-container .input {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .register {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .registercontent .form .form-container {
        margin: 50px auto;
    }

    .registercontent .form .form-container .welcome-text {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: bold;
    }

    .registercontent .form .form-container .login-text {
        margin-bottom: 30px;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .registercontent .form .form-container .submit-button {
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }

    .registercontent .form .form-container .joinus {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
