.page-container {
  background-color: black;
  color: white;
}

.title {
  margin-top: 160px;
  margin-bottom: 40px;
  text-align: center;
  margin-left: 450px; /* Adjusted margin for responsiveness */
  margin-right: 20px; /* Adjusted margin for responsiveness */
 
}

.description {
  text-align: center;
}

.book-list {
  list-style: none;
  margin-left: 20px; /* Adjusted margin for responsiveness */
  margin-right: 20px; /* Adjusted margin for responsiveness */
}

.list-item {
  margin-bottom: 8px;
  position: relative;
}

.list-item:before {
  top: 50%;
  left: 0;
  right: 0;
  border-top: 2px solid white;
}

.whiteline {
  display: block;
  width: 100%;
  height: 4px;
  background-color: wheat;
  margin-bottom: 10px;
  margin-right: 16px;
}

@media (max-width: 1440px) {
  .title {
    margin-left: 50px; /* Adjusted margin for larger screens */
    margin-right: 50px; /* Adjusted margin for larger screens */
  }
}

@media (max-width: 768px) {
  .title {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  .book-list {
    margin-left: 20px;
    margin-right: 20px;
  }
}
