.Slider{
    font-family: "Droid Sans-Bold", Helvetica;
}

.partner-slider-container {
    width: 50%;
    margin: auto;
    padding: 20px;
  }
  
  .partner-slide {
    outline: none;
    margin: 0 20px; 
    transition: transform 0.3s ease-in-out;
}

.partner-slide img {
    width: 85%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px; 
}

.slick-center .partner-slide {
    transform: scale(1.2); 
}

.partners-img{
    width: 450px;
    height: 380px;
}

 
@media (max-width: 768px) {
    .bestsellers h1 {
        font-size: 20px;
        margin-top: 50px; 
    }

    .book-slide {
        margin: 0 10px; 
    }
}
  